/*--------------- mobile deviches start --------*/
@media only screen and (max-width:688px) {

    .container{
    width: 100%;
}
    .products{

        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .collection-card{

        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .brand-logo{
        grid-template-columns: repeat(3, 1fr);
    }
    .extra-file{

        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}
/*--------------- mobile deviches end --------*/

/*----------- tablet deviches start -------*/
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
        .products{
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
        }
        .collection-card{
    
            grid-template-columns: repeat(2, 1fr);
            flex-direction: column;
        }
        .brand-logo{
            grid-template-columns: repeat(2, 1fr);
        }
        .extra-file{
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column;
        }

}
/*-------------------- tablet deviches ---------*/
